<style>
    * { margin: 0; padding: 0; }

    .wrapper{
    color: #000;
    margin: 10px auto;
    width: 90%;
    }

    header {
    background: rgb(255, 255, 255);
    height: 10em;
    width: 100%;
    }

    .container {
    display: flex;
    height: 35em;
    }

    aside {
    width: 50%;
    }

    section {
    width: 50%;
    }

    footer {
    background: rgba(192, 189, 189, 0.447);
    height: 13em;
    width: 100%;
    }

    .center {
    text-align: center;
    line-height: 4em;
    font-weight: bold;
    }

    .b-example-divider {
                    height: 2rem;
                    background-color: white;
                    border: solid white;
                    border-width: 1px 0;
                    box-shadow: inset 0 .5em 1.5em white, inset 0 .125em .5em white;
                }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundación Memorias de Nuestro Pueblo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
</head>

<div class="wrapper">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4 border-bottom bg-white shadow-lg">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img">
                <img src="/static/img/memoriasDNPuebloTransparente.png" width=50%>
            </svg>
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><a href="/nosotros" class="nav-link px-2 link-dark">Nosotros</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Noticias</a></li>            
            <li><a href="/eventos" class="nav-link px-2 link-dark">Eventos</a></li>
            <li><a href="/recursos" class="nav-link px-2 link-dark">Recursos</a></li>
        </ul>
        <ul class="nav col-md-3 col-md-auto mb-2 justify-content-center mb-md-0">
        </ul>        
    </header>
    <div class="container-fluid">
        <section>
    <article class="Noticia">
    <h1 class="Titulo">{{ noticia.titulo }}</h1>
    <div class="Contexto">
    <div class="GenericoPlantilla">
        <div class="GenericoPlantilla-img">
        <div class="Card-Events-img">
            <img src="{{MEDIA_URL}}/{{noticia.img}}" alt="{{ noticia.nombre }}">
        </div>
        <div>
            <h6>Creado: {{ noticia.creado }}</h6>
            <h6>Autor: {{ noticia.autor_id }}</h6>
        </div>
        </div>
        <div class="GenericoPlantilla-text">
        <p> {{noticia.contenido}}</p>
        </div>
    </div>
    </div>
    </article>
<article class="Comentarios">
    {% for comentario in comentarios %}
    <div class="Comentario">
        <p class="comentario-header">{{ comentario.autor}}<span class="Fecha"> {{ comentario.creado}}</span></p>
        <p>{{ comentario.cuerpo_comentario}}</p>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn_comentar">
        Comentar
        </button>
    </form>
    {% else %}
    <div class="Comentario">
    <p>
        <a href="/login" class="Titulo">REGISTRATE para comentar</a>
    </p>
    </div>
    </article>
                
        <div class="row">
            <div class="col-md-12">
                <p class="text-center justify-content-md-between">
                    <a href="/hist_municipalidad" class="href">Historia de la municipalidad</a>                    
                </p>
            </div>
        </div>
    </div>
    
    <div class="b-example-divider"></div>    
    <footer class="center bg-white shadow-lg">
        <span>Contactenos
                    <div class="mx-auto" style="width: 360px">
                        <figure class="figure">
                            <img src="/static/img/gmail-icon.png" class="mx-auto d-block" width="25" height="25">
                            <a href="mailto:fundacionmemorias@gmail.com" class="nav-link px-2 link-dark">
                                <figcaption class="figure-caption">Correo</figcaption>
                            </a>
                        </figure>
                        <figure class="figure">
                            <img src="/static/img/telefono.png" class="mx-auto d-block" width="25" height="25">
                            <a href="tel:+54 362 439-5069" class="nav-link px-2 link-dark">
                                <figcaption class="figure-caption">Teléfono</figcaption>
                            </a>
                        </figure>
                        <figure class="figure">
                            <img src="/static/img/facebook.png" class="mx-auto d-block" width="25" height="25">
                            <a href="https://www.facebook.com/fundacionmemorias/" class="nav-link px-2 link-dark">
                                <figcaption class="figure-caption">Facebook</figcaption>
                            </a>
                        </figure>
                        <figure class="figure">
                            <img src="/static/img/instagram.png" class="mx-auto d-block" width="25" height="25">
                            <a href="https://www.instagram.com/fundacionmemoriasfontana/" class="nav-link px-2 link-dark">
                                <figcaption class="figure-caption">Instagram</figcaption>
                            </a>
                        </figure>
                    </div>
        <p class="text-center justify-content-md-between"><em><small>&copy; Todos los derechos reservados :: Memorias de Nuestro Pueblo ::
        Mz 18 Pc 9 20 Viviendas SITECH 3514 Fontana Chaco Argentina</small></em></p>
        </span>
    </footer>
</div>